/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=================================================
    layout
=================================================
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
#keypad {
    display: grid;
    grid-template-columns: repeat(4, minmax(15px, 1fr));
    grid-template-rows: repeat(5, minmax(15px, 1fr));
    grid-template-areas: 
    "C Del . mult"
    "one two three divide"
    "four five six minus"
    "seven eight nine plus"
    "comma zer equal equal";
    gap: 5px;
    justify-items: stretch;
}
.key#clear{
    grid-area: C;
}
.key#del {
    grid-area: Del;
}
#one {
    grid-area: one;
}
.key#two {
    grid-area: two;
}
.key#three {
    grid-area: three;
}
.key#four {
    grid-area: four;
}
.key#five {
    grid-area: five;
}
.key#six {
    grid-area: six;
}  
.key#seven {
    grid-area: seven;
}
.key#eight {
    grid-area: eight;
}
.key#nine {
    grid-area: nine;
}
.key#zer {
    grid-area: zer;
}
.key#comma {
    grid-area: comma;
}
.key#plus {
    grid-area: plus;
}
.key#subtract {
    grid-area: minus;
}
.key#multiply {
    grid-area: mult;
}
.key#divide {
    grid-area: divide;
}
.key#equal {
    grid-area: equal;
}

/*
    display
*/
#display {
    display: flex;
    flex-direction: column;
}